iframe {
    width: cover;
   
}

iframe .vdo {
  width: 1040;
  height: 750;
}

@media screen and (max-width: 480px) {
    iframe {
      width: cover;
      height: 170px;
  }
}









.imgfb {
    width: 100%;
    height: auto;
}
.imggg {
    width: 100%;
    height: auto;
}

.bounce {
    border-radius: 100px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: +100;
}


@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
  
  img.bounce {
    animation: bounce 3s infinite;
  }
  
  .imgp {
    width: 100%;
    height: auto;
  }

  footer {
    padding: 15px;
    color: aliceblue;
  }

  .linecut {
    background: url('linecut.gif');
    width: 100%;
    height: 4px;

  }